body{
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(243, 242, 242);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "poppins";
}

.haut{
    display: flex;
    gap: 150px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px;
    border-radius: 10px;
}

.image1{
    display: flex;
    font-size: 20px;
}


.noir{
    padding-right: 2px;
}

.telep{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.button1{
    border: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.button2{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px;
    border-radius: 5px;
     background-color: rgb(179, 176, 176);
}


.corps{
    margin-top: 10px;
    background-color: white;
    padding: 20px;
    border: 1px;
    border-radius: 10px;
}
.corps1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nova{
    height: 30px;
}

.corps2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: rgb(243, 242, 242);
    border: 1px;
    border-radius: 10px;
}

.sous_corps2{
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
}

.button3{
    width: 200px;
    border: 1px;
    border-radius: 5px;
    background-color: rgb(179, 176, 176);
}

.input1{
    width: 600px;
    height: 30px;
}

.button4{
    width: 150px;
    height: 30px;
    border: 1px;
    border-radius: 5px;
    background-color: rgb(179, 176, 176);
}

.corps3{
    padding: 10px;
    background-color: rgb(243, 242, 242);
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px;
    border-radius: 10px;
}

.sous_corps3{
    padding: 10px;
    background-color: white;
    border: 1px;
    border-radius: 10px;
}

.lome{
    padding-bottom: 10px;
}

.corps4{
    width: 99%;
    height: 30px;
}

.bouton{
    height: 30px;
    background-color: rgb(179, 176, 176);
    border: 1px;
    border-radius: 5px;
}

.rue{
    padding-bottom: 5px;
}

.rue1{
    padding-top: 5px;
}

.rue2{
    display: flex;
    gap: 5px;
}

.input2{
    width: 100px;
}

.cotre{
    display: flex;
    gap: 10px;
}

.button7{
    color: white;
    background-color: black;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
}

.button8{
    border: 1px;
    border-radius: 5px;
    background-color: rgb(179, 176, 176);
}